@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  background: white;
  margin: auto;
  height: 500px;
  width: 250px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15%;
  text-align: center;
  padd;
}
body {
  background: green;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-suit {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 80px;
}
.bottom-suit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 80px;
}
