@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.card {
  width: 150px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  color: red;
}
.corner {
  position: absolute;
  font-size: 20px;
}
.top-left {
  top: 5px;
  left: 5px;
}
.bottom-right {
  bottom: 5px;
  right: 5px;
}
.center {
  font-size: 50px;
}
